# VisualStudio Code template
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# NPM
node_modules/

# Solidity Coverage
coverage/
coverage.json
CoverageEnv/
scTopics

# Truffle
build/

tmp/
