# VisualStudioCode template
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# NPM
node_modules/

# Solidity Coverage
coverage/
coverage.json

# Truffle
build/
